body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
}

.correct {
    color: green;
}

.incorrectOrder {
    color: orange;
}

.incorrect {
    color: red;
}

#restartButton {
    float: right;
    margin-right: 10px; /* Adjust the margin as needed for spacing */
}
